@import '../../../scss/variable.scss';

.footer {
  &__outerdiv {
    @include darkenColor($primary-color-1, 10%);
    // background: $primary-color-1;
    width: 100%;
    color: white;
    padding: 5rem 0 2rem 0;
  }

  /* =============================================== */
  &__col {
    @include respond-to(mobile) {
      width: 100% !important;
      padding: 0 5rem;
    }

    &--1 {
      display: flex;
      justify-content: flex-start;
      @include respond-to(tablet) {
        padding-left: 5rem;
        padding-right: 0rem;
      }
      @include respond-to(mobile) {
        padding-right: 0rem;
        justify-content: flex-start;
      }
    }
    &--2 {
      display: flex;
      justify-content: center;
      align-self: flex-start;
      margin-top: 1rem;
      @include respond-to(tablet) {
        padding-left: 5rem;
      }
    }
    &--3 {
      display: flex;
      margin-top: 1rem;
      justify-content: center;
      // flex-direction: column;
      @include respond-to(tablet) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5rem;
      }
      @include respond-to(mobile) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
  /* =============================================== */
  &__restaurant {
    &-name {
      color: rgb(182, 156, 43);
      font-size: 2.5rem;
      font-family: $ubuntu;
      @include respond-to(medium) {
        font-size: 2rem;
      }
      @include respond-to(mobile) {
        font-size: 1.8rem;
      }
    }

    &-address {
      @include respond-to(tablet) {
        font-size: 1.8rem;
      }
      @include respond-to(mobile) {
        font-size: 1.5rem;
      }
    }
    &-phone {
      color: rgb(231, 217, 154);
      @include respond-to(tablet) {
        font-size: 2rem;
      }
      @include respond-to(mobile) {
        font-size: 1.5rem;
      }
    }
    &-contact {
      color: $tertiary-color-1;
      @include respond-to(tablet) {
        font-size: 1.8rem;
      }
      @include respond-to(mobile) {
        font-size: 1.5rem;
      }
    }
  }
  /* =============================================== */
  &__copyright {
    &-div {
      margin-top: 2rem;
      text-align: center;
      color: $tertiary-color-4;
      @include respond-to(tablet) {
        margin-top: 4rem;
      }
      @include respond-to(mobile) {
        margin-top: 4rem;
      }
    }

    &-policy {
      margin-left: 1rem;
      padding-left: 1rem;
      border-left: 2px solid white;

      &-link {
        color: $tertiary-color-4;
        &:hover {
          color: white;
        }
      }
    }
  }
  /* =============================================== */
  &__email {
    // 'Join our mailing list
    &-text {
      margin-bottom: 1rem;
      text-align: center;
      font-size: 2rem;
      @include respond-to(tablet) {
        margin-top: 2rem;
        text-align: left;
      }
      @include respond-to(mobile) {
        margin-top: 2rem;
        text-align: left;
        font-size: 1.5rem;
      }
    }
    // the div wrapping email input and sign up
    &-div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include respond-to(tablet) {
        justify-content: flex-start;
      }
      @include respond-to(mobile) {
        flex-direction: column;
      }
    }

    &-input {
      width: 25rem;
      margin-right: 1rem;
      @include respond-to(mobile) {
        width: 100%;
        margin-right: 0;
      }
    }

    &-button {
      white-space: nowrap;
      @include respond-to(mobile) {
        width: 100%;
        margin-top: 1rem;
        padding: 0.5rem 2rem !important;
      }
    }
  }
  /* =============================================== */
  &__follow {
    &-outerdiv {
      display: flex;
      flex-direction: column;
      @include respond-to(tablet) {
        flex-direction: row;
      }
      @include respond-to(mobile) {
        flex-direction: row;
      }
    }

    &-text {
      font-size: 1.8rem;
      color: $tertiary-color-3;
      @include respond-to(tablet) {
        margin-top: 3rem;
      }
      @include respond-to(mobile) {
        margin-top: 3rem;
        font-size: 1.5rem;
      }
    }

    &-icons {
      &-div {
        margin-top: 1rem;
        @include respond-to(tablet) {
          margin-top: 3rem;
          margin-left: 2rem;
        }
        @include respond-to(mobile) {
          margin-top: 3rem;
          margin-left: 2rem;
        }

        & > .fab {
          font-size: 2.5rem;
          cursor: pointer;
          &:hover {
            color: $tertiary-color-3;
          }
          &:active {
            color: white;
          }
          &:not(:last-child) {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
