@import '../../../scss/variable.scss';

.preloader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid $primary-color-2; /* Blue */
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: spin 2s linear infinite;

  &__outerdiv {
    background: $tertiary-color-4;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    font-family: $ubuntu;
    font-size: 2rem;
    margin-top: 2rem;
    color: $secondary-color-1;
    margin-left: 1rem;
  }

  &__div {
    transform: translateY(-5rem);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
