@import '../../scss/variable.scss';

.home {
  &__header {
    width: 100%;
    height: 40rem;
    background-image: radial-gradient(rgba(105, 104, 104, 0.7), rgba(41, 40, 40, 0.7)),
      url('../../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 30%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond-to(mobile) {
      padding: 2rem;
    }
  }
  &__desc {
    width: 60rem;
    color: white;
    margin-bottom: 2rem;
    margin-top: 1rem;

    @include respond-to(mobile) {
      width: auto;
    }
  }

  &__title {
    color: white;
    filter: brightness(100%);
    font-size: 4rem;

    @include respond-to(mobile) {
      font-size: 3rem;
    }
  }

  &__learnmore {
    border: 1px solid $tertiary-color-1;
    &:hover {
      color: $tertiary-color-1;
      border: 1px solid white;
    }
  }
}
