@import './variable.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  position: relative;
  box-sizing: border-box;
  // This defines what 1 rem is
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%

  // if content is less then pages still takes full view-port height
  // and footer will stick at the bottom of page
  // min-height: 100%;
  height: 0 !important;
  // overflow-y: overlay; // a hack to prevent stuffs from moving around when scrollbar pops up
}

body {
  margin: 0;
  font-size: 1.5rem !important;
  background: $secondary-color-1 !important;
  font-family: 'Helvetica Neue', sans-serif !important;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.justify-conter {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

/* AntD fix icon not align center */
svg {
  vertical-align: baseline !important;
}

/* =================== AntD table css =================== */

// layout wrapping the whole sidebar
.layout {
  height: 100vh;
}

.ant-layout-content {
  @include respond-to(handhelds) {
    margin: 0 !important;
  }
}
.ant-breadcrumb {
  @include respond-to(handhelds) {
    margin-left: 1.5rem !important;
  }
}
// the layout for content
.site-layout .site-layout-background {
  background: #fff;
  padding: 2.4rem;
  min-height: calc(100vh - 18.8rem);
  overflow: auto;

  @include respond-to(handhelds) {
    padding: 1rem;
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background: $secondary-color-2;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $primary-color-2;
  }
}

.ant-table-thead tr th {
  color: white !important;
  background: $primary-color-2 !important;
  white-space: nowrap;
  // width: 100rem !important;
}

.ant-table-tbody td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// background of header column when hover
.ant-table-thead th.ant-table-column-has-sorters:hover {
  background: $primary-color-1 !important;
}
// arrow icons when idle
.ant-table-column-sorter-up,
.ant-table-column-sorter-down {
  color: $secondary-color-1 !important;
}

// arrow icons when active
.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
  color: white !important;
}

// Search icon on ant table
.ant-table-filter-trigger-container-open,
.ant-table-filter-trigger-container:hover,
.ant-table-thead th.ant-table-column-has-sorters:hover .ant-table-filter-trigger-container:hover {
  color: white !important;
  background: $secondary-color-1 !important;
}

// Search icon on ant table when not hovered
.ant-table-filter-trigger-container-open .ant-table-filter-trigger,
.ant-table-filter-trigger:hover {
  color: white !important;
}

// when search icon is unfocused
.ant-table-thead th.ant-table-column-has-sorters:hover .ant-table-filter-trigger-container {
  color: white !important;
  background: $secondary-color-1 !important;
}

/* For column resizable */
.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: ew-resize;
}
.ant-table-filter-trigger-container {
  right: 1rem !important;
  border-radius: 50% !important;
  height: 3rem !important;
  width: 3rem !important;
  margin: auto 0 !important;
}

.ant-table {
  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: $secondary-color-2;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $primary-color-2;
  }
}

// Select dropdown
.ant-select {
  @include respond-to(handhelds) {
    // fill up the whole page width on mobile devices
    width: 100% !important;
  }
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: $primary-color-2 !important;
  &::after {
    border-right: 4px solid $primary-color-2;
  }
}

// fix icon not aligning center
.ant-menu-item {
  display: flex !important;
  align-items: center !important;
}
.ant-menu-submenu-title {
  display: flex !important;
  align-items: center !important;
}

// pop up vertical menu for dropdown items when sidebar collapsed
.ant-menu-vertical.ant-menu-sub,
.ant-menu-vertical-left.ant-menu-sub,
.ant-menu-vertical-right.ant-menu-sub {
  max-height: 40rem !important;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: $secondary-color-2;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $primary-color-2;
  }
}

/* =================== (AntD table css) =================== */
