@import '../../../scss/variable.scss';

.navbar {
  &__outerdiv {
    /* make it sticky */
    position: sticky !important;
    top: 0;
  }

  &__innerdiv {
    // the div of the first row of navbar items
    &-main {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 1rem 10rem;
      @include respond-to(medium) {
        padding: 1rem 2rem;
      }
      @include respond-to(tablet) {
        padding: 1rem 2rem;
      }
      @include respond-to(mobile) {
        padding: 1rem 0;
      }
    }
    // the div of the hidden expand div
    &-expand {
      // hide on full screen
      display: none;
      width: 100%;
      transition: all 0.5s ease;
      // show on mobile only
      @include respond-to(mobile) {
        display: block;
        background: $secondary-color-2;
        color: white;
      }

      &-link {
        color: white;
        width: 100%;
        padding: 0.1rem 0;
        &:not(:last-child) {
          border-bottom: 1px solid white;
        }
      }
    }
  }
  &__logo {
    &-div {
      padding: 0.5rem 1rem;
      // remove margin on mobile screen
      @include respond-to(mobile) {
        margin-right: 0;
      }
      &:hover {
        border-radius: 5px;
        background: $secondary-color-1;
        color: $tertiary-color-2 !important;
        transition: all 0.5s ease;
        & > .navbar__icon {
          transition: all 1s ease;
          color: $tertiary-color-1;
        }
      }
    }

    &-text {
      @include respond-to(mobile) {
        display: none;
      }
    }
  }

  /* the nav links */
  &__link {
    cursor: pointer;
    margin-right: 1rem;
    color: $secondary-color-1 !important;
    &:hover {
      transition: all 0.5s ease;
      color: $primary-color-1 !important;
      transform: translateY(-0.1rem);
    }
    &:active {
      transform: translateY(0);
    }

    /* desktop */
    // the desktop navbar links
    &--desktop {
      display: flex;
      // hide them when on mobile
      @include respond-to(mobile) {
        display: none;
      }
    }

    /* mobile */
    // hide on normal screens
    &--mobile {
      display: none;
      // show on mobile screen
      @include respond-to(mobile) {
        display: block;
      }
    }
  }
  &__icon {
    color: $secondary-color-1;
    margin-right: 1rem;
    @include respond-to(mobile) {
      margin-right: 0;
    }
  }

  &__button {
    &-language {
      margin-right: 1rem;
    }
  }
}
